adf/pipeline/pl_ingest_tfl_arrivals_hourly.json
{
	"name": "pl_ingest_tfl_arrivals_hourly",
	"properties": {
		"activities": [
			{
				"name": "ForEach_BusArrivals",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch_LineId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@take(activity('Fetch_LineId').output.value, 50)\n",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy_BusArrivals_To_ADLS_Landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_tfl_arrivals",
									"type": "DatasetReference",
									"parameters": {
										"busId": "@item().id"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json_tfl_arrivals",
									"type": "DatasetReference",
									"parameters": {
										"ingestDate": {
											"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
											"type": "Expression"
										},
										"hour": {
											"value": "@formatDateTime(utcNow(), 'HH-mm-ss')",
											"type": "Expression"
										},
										"busId": {
											"value": "@item().id",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Handle_BusArrival_Failure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy_BusArrivals_To_ADLS_Landing",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_error_handler",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "OnFailure_ForEach",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_BusArrivals",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_error_handler",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Fetch_LineId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json_tfl_lines",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"LatestLineStatusFile": {
				"type": "String"
			}
		},
		"folder": {
			"name": "child_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2026-02-09T16:12:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}